In [33]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv")


display(x_train.head())
display(y_train.head())

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,GP,F,18,U,GT3,T,4,3,other,...,no,4,3,3,1,1,3,0,14,13
1,1254,GP,F,17,U,GT3,T,4,3,health,...,yes,4,4,3,1,3,4,0,13,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,no,2,4,4,2,3,4,6,10,11
3,1118,GP,M,16,U,GT3,T,4,4,services,...,no,5,3,3,1,3,5,0,15,13
4,1499,GP,M,19,U,GT3,T,3,2,services,...,yes,4,5,4,1,1,4,0,5,0

   StudentID  G3
0       1714  14
1       1254  15
2       1639  11
3       1118  13
4       1499   0

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

y = y_train['G3']

x_train_drop = x_train.drop(columns = 'StudentID')
x_test_drop = x_test.drop(columns = 'StudentID')

x_train_dum = pd.get_dummies(x_train_drop)
x_test_dum = pd.get_dummies(x_test_drop)

scaler = MinMaxScaler()
x_train_scale = pd.DataFrame(scaler.fit_transform(x_train_dum))
x_test_scale = pd.DataFrame(scaler.transform(x_test_dum))

X_train, X_val, Y_train, Y_val = train_test_split(x_train_scale, y, test_size = 0.3, random_state = 1)

# import sklearn.ensemble
# print(dir(sklearn.ensemble))
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(1000, max_depth = 10, random_state = 1)
rf.fit(X_train, Y_train)

train_lable = rf.predict(X_train)
val_lable = rf.predict(X_val)

import sklearn.metrics
# print(dir(sklearn.metrics))
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error, r2_score

print('mae :', mean_absolute_error(Y_train, train_lable), mean_absolute_error(Y_val, val_lable))
print('mape :', mean_absolute_percentage_error(Y_train, train_lable), mean_absolute_percentage_error(Y_val, val_lable))
print('mse :', mean_squared_error(Y_train, train_lable), mean_squared_error(Y_val, val_lable))
print('r2_score :', r2_score(Y_train, train_lable), r2_score(Y_val, val_lable))

mae : 0.3588745123379077 0.8576076236472757
mape : 257401748677190.2 385923566145502.44
mse : 0.30332467158431514 1.6913838444679206
r2_score : 0.9800273335089182 0.8744465927053513

In [39]:
# 답안 예시

#x_train.isnull().sum()
#x_test.isnull().sum()

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error , mean_absolute_error , mean_absolute_percentage_error ,r2_score
import numpy as np




drop_col = ['StudentID']

x_train_drop = x_train.drop(columns = drop_col)
x_test_drop = x_test.drop(columns = drop_col)
y_train_target = y_train['G3']

x_train_dum = pd.get_dummies(x_train_drop)
x_test_dum = pd.get_dummies(x_test_drop)[x_train_dum.columns]


xtr , xt , ytr, yt = train_test_split(x_train_dum , y_train_target)

rf = RandomForestRegressor(random_state =42)
rf.fit(xtr,ytr)

y_validation_pred = rf.predict(xt)

# 모델평가 
# mse : mean_squared_error / mae : mean_absolute_error  / mape : mean_absolute_percentage_error
# rmse : root_mean_squerd_error -> 패키지 없음 np.sqrt(mean_squared_error) 해줘야함

# y_true ,y_pred 순서 help로 잘 확인 하시고 사용하셔요

#mse 
print('validation mse' ,mean_squared_error(yt,y_validation_pred))

#mae 
print('validation mae' ,mean_absolute_error(yt,y_validation_pred))

#mape 
print('validation mape' ,mean_absolute_percentage_error(yt,y_validation_pred))

#rmse
print('validation rmse' ,np.sqrt(mean_absolute_percentage_error(yt,y_validation_pred)))

#r2
print('validation r2 score' ,r2_score(yt,y_validation_pred))

validation mse 3.2676523529411763
validation mae 0.9988823529411764
validation mape 926416935112625.0
validation rmse 30437098.007409066
validation r2 score 0.802818081783331