In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

In [75]:
# import sklearn
# print(sklearn.__all__)
# import sklearn.model_selection
# print(dir(sklearn.model_selection))

from sklearn.model_selection import train_test_split
# print(x_train['Mode_of_Shipment'].unique())
# print(x_test['Mode_of_Shipment'].unique())

x_train_drop = x_train.drop(columns = 'ID')
x_test_drop = x_test.drop(columns = 'ID')

x_train_dum = pd.get_dummies(x_train_drop)
x_test_dum = pd.get_dummies(x_test_drop)

# # 스케일링 적용해도 큰 변화 X
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# x_train_dum = scaler.fit_transform(x_train_dum)
# x_test_dum = scaler.transform(x_test_dum)

# x_train_dum = pd.DataFrame(x_train_dum)
# x_test_dum = pd.DataFrame(x_test_dum)


y = y_train['Reached.on.Time_Y.N']

X_train, X_val, Y_train, Y_val = train_test_split(x_train_dum, y, test_size = 0.3, random_state = 42)

from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(1500, max_depth = 10, random_state = 23)
rf.fit(X_train, Y_train)

train_label = rf.predict(X_train)
train_proba = rf.predict_proba(X_train)[:,1]
# print(train_label)
# print(train_proba)

val_label = rf.predict(X_val)
val_proba = rf.predict_proba(X_val)[:,1]

# print(dir(sklearn.metrics))
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, roc_auc_score

print('accuracy_score :', accuracy_score(train_label, Y_train), accuracy_score(val_label, Y_val))
print('f1_score :', f1_score(train_label, Y_train), f1_score(val_label, Y_val))
print('precision_score :', precision_score(train_label, Y_train), precision_score(val_label, Y_val))
print('r2_score :', recall_score(train_label, Y_train), recall_score(val_label, Y_val))
print('roc_auc_score :', roc_auc_score(train_label, Y_train), roc_auc_score(val_label, Y_val))

test_label = rf.predict(x_test_dum)
# print(test_label)

df = pd.DataFrame({'ID':x_test['ID'], 'Reached.on.Time_Y.N' : test_label})
df.to_csv("00000000.csv", index = False)

accuracy_score : 0.8975747076656562 0.6696969696969697
f1_score : 0.9074545098806497 0.6683569979716025
precision_score : 0.8393051031487514 0.561328790459966
r2_score : 0.987649063032368 0.8258145363408521
roc_auc_score : 0.8960271746879902 0.6950561683396308

In [ ]:
# accuracy_score : 0.7663490688609788 0.6777777777777778
# f1_score : 0.7732716957343979 0.6741573033707865
# precision_score : 0.6659428157799493 0.5621805792163543
# r2_score : 0.9218436873747495 0.8418367346938775
# roc_auc_score : 0.784911164816284 0.7060354242031259